body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling with aboutp */
.abouth2 {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 3%;
}

/* Paragraph styling */
.aboutp {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 5%;
}

.aboutp2, .aboutp3 {
    max-width: 80%;
    margin: 0 auto;
}

.ptitle {
    max-width: 100%;
    font-size: 20px;
    margin: 0 0 10px 0;
}

/* Placing text and image side by side */
.image-text {
    display: grid;
    grid-template-columns: 55% 1fr;
    align-items: center;
    margin: 0 auto 5%;
    max-width: 900px;
    margin-bottom: 7%;
}

/* Image styling */
.image-text img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.aboutp2, .aboutp3 {
    margin: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    /* Single column on small screens */
    .image-text {
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin: 0 5% 5%;
        max-width: 100%;
        margin-bottom: 20%;
    }

    /* Small adjustments regarding paragraphes and one heading */
    .abouth2, .aboutp, .aboutp2, .ptitle , .aboutp3 {
        width: 90%;
        margin: 0 auto;
    }

    .abouth2 {
        font-size: 23px;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    .aboutp, .aboutp2, .ptitle, .aboutp3 {
        font-size: 16px;
    }

    .aboutp {
        margin-bottom: 8%;
    }

    .ptitle {
        margin-left: 10%;
    }

    .aboutp3 {
        margin-top: -3%;
        margin-bottom: 8%;
    }
}