body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

.cart-item img{
    width: 100px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    gap: 50px;
    padding: 10px 0;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.remove {
    background-image: url('remove.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;  
}

#Checkout {
    background-color: rgb(103, 209, 174);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.quantity {
    border: none;
    width: 30px;
}

.remove:hover {
    cursor: pointer;
}
