body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Line */
hr {
    width: 90%;
    height: 0.5px;
    background-color: black;
}

/* Adjustements of the main texts, like best seller, about us, etc */
.title {
    margin-left: 5%;
    margin-bottom: -0.2%;
    font-weight: 650;
}

/* Shop by categories */
.koko {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -7%;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    position: relative;
    cursor: pointer;
}

.icons {
    will-change: transform;
    transition: transform 0.3s ease;
}

.icons:hover {
    transform: scale(1.03);
}

.category .circle {
    font-size: 280px;
    color: rgba(39, 39, 39);
    position: relative;
    z-index: 1;
}

.category img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-bottom: 0;
}

.category .img2 {
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-bottom: 0;
}

.category p {
    font-weight: 650;
    margin: 0;
    font-size: 14px;
    margin-top: -48%;
    width: 130px;
}

/* Card adjustments */
.card {
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5% !important;
    max-width: 350px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-text {
    margin-left: 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 350 !important;
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: contain;
    background-color: #E6F7FF;
}
/* Card adjustments end */

/* About us */
.container2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 5% 5%;
}

#room {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.image-text {
    margin: 0;
}

@media (max-width: 768px) {
    .container2 {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

@media (min-width: 769px) {
    .image-text {
        max-width: 70%;
        margin-left: 5%;
    }

    .text-section h2 {
        margin-left: 5%;
    }
}