body {
    background-image: url('pictures/image.png');
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    width: 30%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 35%;
}
.main-text {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight:600;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 25%;
}
.user-input, .password-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    color: white;
} 
.submit-button {
    width: 100%;
    background-color: #4044ED;
    color: white;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
::placeholder {
    color: white;
    opacity: 0.7;
}