.contact_page {
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

/* contact details left */
.contact_details {
    flex: 1;
    background-size: cover;
    background-image: url('/scrum_project/code/pictures/instruments_BG.jpg');
    background-position-y: center;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 15px;
}

.contact_details::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.6) 100%);
}

.contact_details *{
    position: relative;
    z-index: 1;
}

.contact_details > * {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.contact_details h1 {
    font-size: 2.5 rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/*send message right*/
.send_message {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* style for the form */
.send_message form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

.send_message input, .send_message textarea {
    padding: 15px; 
    border: 2px solid #dbd8d8;
    border-radius: 8px;
    transition: all 0.3s ease;
} 

.send_message textarea {
    min-height: 140px;
}

.send_message button {
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.send_message button:hover {
    background-color: rgb(70, 70, 70);
}

.send_message h1 {
    font-size: 2.5 rem;
    font-weight: 700;
    text-align: center;
}

.send_message p {
    text-align: center;
    color: #505050;
    line-height: 1.6;
}

/* style for the contact details */
.titles {
    font-weight: 700;
    font-size: 18px;
}

.info {
    font-size: 15px;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact_text p {
    margin: 0;
    margin-bottom: 10px;
}
