.contact_page {
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

/* contact details left */
.contact_details {
    flex: 1;
    background-size: cover;
    background-image: url('/scrum_project/code/pictures/instruments_BG.jpg');
    background-position-y: center;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 15px;
}

.contact_details::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.contact_details *{
    position: relative;
    z-index: 1;
}

/*send message right*/
.send_message {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* style for the form */
.send_message form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

.send_message input, .send_message textarea {
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
} 

.send_message button {
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send_message button:hover {
    background-color: rgb(117, 117, 117);
}

.send_message h1, .send_message p {
    text-align: center;
}

/* style for the contact details */
.titles {
    font-weight: bold;
    font-size: 20px;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact_text p {
    margin: 0;
    margin-bottom: 10px;
}
