.offer-container, .new-arrivals-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;   
    flex-direction: column;           
    align-items: center;        
}

.offer-card img {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}

.deals-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
} 

.new-arrival-card img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.new-arrivals-card {
    position: relative;
    display: inline-block;
    max-width: fit-content;
    width: 100%;
}

.new-arrivals-card img {
    width: 100%;
    height: auto;
    display: block;
}

.offer-button {
    z-index: 4;
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    background-color: #3387c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight:400;
}

.offer-button:hover {
    background-color: #2c73a5;
}
    
.new-arrivals-button {
    z-index: 4;
    position: absolute;
    top: 72%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 30px 70px;
    background-color: #005FA3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight:400;
}

.new-arrivals-button:hover {
    background-color: #00538e;
}

.new-arrivals-details h3, .offer-details h3 {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.new-arrivals-details p, .offer-details p {
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

@media  (min-width: 701px) {
    .offer-button {
        top: 87%;
    }

    .deals-title::before, .deals-title::after {
        content: "";
        display: inline-block;
        background-color: rgb(86, 97, 97);
        width: 200px;
        height: 2px;
        margin: 0 5px;
    }  
}

@media (max-width: 700px) {
    .deals-title {
        font-size: 25px;
        max-width: 50%;
        margin-top: 5%;
    }

    .deals {
        margin-top: 2%;
    }

    .offer-button {
        top: 75%;
        padding: 5px 15px;
        font-size: 23px;
    }

    .new-arrivals-details h3, .offer-details h3 {
        font-size: 25px;
        margin-left: 3%;
    }

    .offer-details p, .new-arrivals-details p {
        margin-left: 3%;
    }

    .new-arrivals-details p {
        margin-bottom: 7%;
    }

    .new-arrivals-button {
        padding: 5px 15px;
        font-size: 23px;
        top: 63%;
    }
}