body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.footerText {
  font-size: 20px;
}

/* Display adjustments with links and others */
footer {
  background-color: rgb(52, 52, 52);
  color: white;
  padding: 20px 100px;
}

.footer-container {
  display: flex;
  gap: 120px;
  border-bottom: 2px solid rgb(187, 187, 187);
  justify-content: center;
  margin: 0 auto;
}

/* Pages, Back Links, Work Hours */
.Pages_content, .BackLinks_content, .WorkHours_content, .text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 30px;
}

.low {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;

}

/* Logo size */
.text img {
  width: 140px;
}

/* Social media icons */
.icon {
  display: flex;
  gap: 10px;
}

/* Work hours */
.hour {
  display: flex;
  align-items: center;
  gap: 10px;

}

.hour p {
  margin: 0 auto;
  margin-left: 0%;
}

.phone p {
  margin: 0 auto;
  margin-left: 0%;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;

}

/* Link editing */
.Pages_content a, .BackLinks_content a {
  color: white;
  text-decoration: none;
}

.Pages_content p a:hover, .BackLinks_content p a:hover {
  opacity: 0.8;
}

.low small a {
  color: white;
  text-decoration: none;
}

.low small a:hover {
  opacity: 0.8;
}

.icon a {
  color: white;
}

.icon a:hover {
  opacity: 0.8;
}