body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.footerText {
  font-size: 20px;
}

/* Display adjustments with links and others */
footer {
  background-color: rgb(52, 52, 52);
  color: white;
  padding: 20px 100px;
}

/* How links, texts, and logo is set */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  border-bottom: 2px solid rgb(187, 187, 187);
  margin: 0 auto;
}

/* Pages, Back Links, Work Hours */
.Pages_content, .BackLinks_content, .WorkHours_content, .text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 30px;
}

/* Copyright and Terms of Use/Privacy Policy adjustment */
.low {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Social media icons */
.icon {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

/* Work hours */
.hour {
  display: flex;
  align-items: center;
  gap: 10px;

}

.hour p {
  margin: 0 auto;
  margin-left: 0%;
}

.phone p {
  margin: 0 auto;
  margin-left: 0%;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;

}

/* Link editing */
.Pages_content a, .BackLinks_content a {
  color: white;
  text-decoration: none;
}

.Pages_content p a:hover, .BackLinks_content p a:hover {
  opacity: 0.8;
}

.low small a {
  color: white;
  text-decoration: none;
}

.low small a:hover {
  opacity: 0.8;
}

.icon a {
  color: white;
}

.icon a:hover {
  opacity: 0.8;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  footer {
    padding: 20px;
  }

  .footer-container {
    gap: 20px;
  }

  .low {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}